<!DOCTYPE html>
<html>
  <head>
    <title>Log In</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="login-form-container">
      <h2>Welcome Back</h2>
      <form method="post" class="login-form">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="login-submit-btn">Log In</button>
      </form>
      <p class="signup-link">
        Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
      </p>
    </div>
  </body>
</html>
