<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="signup-form-container">
      <h2>Create an Account</h2>
      <form method="post" class="signup-form">
        {% csrf_token %}

        <div class="form-row">
          <div class="form-group">
            {{ form.first_name.label_tag }} {{ form.first_name }}
          </div>
          <div class="form-group">
            {{ form.last_name.label_tag }} {{ form.last_name }}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            {{ form.email.label_tag }} {{ form.email }}
          </div>
          <div class="form-group">
            {{ form.username.label_tag }} {{ form.username }}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            {{ form.occupation.label_tag }} {{ form.occupation }}
          </div>
          <div class="form-group">
            {{ form.company.label_tag }} {{ form.company }}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            {{ form.password1.label_tag }} {{ form.password1 }}
          </div>
          <div class="form-group">
            {{ form.password2.label_tag }} {{ form.password2 }}
          </div>
        </div>

        <button type="submit" class="signup-submit-btn">Sign Up</button>
      </form>

      <p class="login-link">
        Already have an account? <a href="{% url 'login' %}">Log In</a>
      </p>
    </div>
  </body>
</html>
